@model MyEntertainment.Models.TvShowModel

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete  @Html.DisplayFor(model => model.title) from your shows?</h3>
<div>
    <hr />
    <table>
        <tr>
            <td><img src="@Url.Action("Index", "Images", new { id = Model.showId })" /></td>
        </tr>

    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
