@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Entertainment</h1>
    <p class="lead">
        Start your TV Show collection by registering or logging in through your Google account.<br />
        Powered by <a href="https://www.themoviedb.org/documentation/api" target="_blank">TheMovieDB API</a>
    </p>
</div>
